/*Mole image classes*/

.playing-field {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

.whack {
    width: 320px;
    height: 241px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.mole-head {
    width: 190px;
    height: 190px;
    position: absolute;
    left: 53px;
    z-index: 1;
    transition: 0.25s margin-top;
}

.mole-hill {
    width: 320px;
    height: 110px;
    position: absolute;
    top: 135px;
    z-index: 0;
}

.hide-head {
    margin-top: 482px;
}
